.header {
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 60rem) {
    justify-content: center;
    gap: 20px;
  }
}

.logo {
  font-size: 45px;
  font-weight: 600;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  transform: scale(1.5);
  margin: 6px 0 0 0;
}
