.apps {
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  row-gap: 16px;
  justify-content: space-between;
}

.card {
  flex: 1 0 100%;
  position: relative;
  color: white;
  border-radius: 24px;
  overflow: hidden;
  padding: 28px 32px 0;
  min-width: 352px;
  transition: 0.2s ease-in-out;

  &:hover {
    .linkArrow {
      opacity: 1;
    }
  }
}

.cardOne {
  composes: card;

  background: linear-gradient(175.99deg, #428CEF 2.23%, #88BDFF 98.02%);
  &:hover {
    opacity: 0.9;
  }
}

.linkArrow {
  position: absolute;
  right: 5%;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.nameCard {
  margin: 0 0 6px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.subtitle {
  font-size: 0;
  position: absolute;
}
.boldDescript {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}
.phone {
  margin: 24px auto 0;
  height: 512px;
  width: 248px;
  border-radius: 45px;
  overflow: hidden;
  position: relative;
}
.img {
  max-width: 247px;
  margin: 0 auto;
  object-fit: contain;
}