.firstSection {
  min-width: 50%;
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 3.75rem;
  margin: 5rem 0 6.25rem 0;

  @media (max-width: 68rem) {
    gap: 2rem;
  }

  @media (max-width: 60rem) {
    flex-direction: column;
    margin: 1rem 0 1rem 0;
  }
}
.telegramSection {
  width: 100%;
  background-color: #1478c8;
  position: relative;
  margin: 0 0 6rem 0;
}

.tagsSection {
  overflow-x: hidden;
}

.hiddenText {
  font-size: 0;
}

