.wrapper {
  max-width: 72rem;
  min-width: 320px;
  margin: 0 auto;

  @media (max-width: 77rem) {
    margin: 0 2.5rem;
  }

  @media (max-width: 60rem) {
    margin: 0 0;
  }
}

.postWrapper {
  max-width: 736px;
  min-width: 320px;
  margin: 0 auto;
}

.tonWrapper {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: 1439px) {
    max-width: 1040px;
  }


}
