.tag {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 0.9375rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0.85%,
    rgba(0, 0, 0, 0.001) 99.15%
  );
}

.text {
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.2px;
}
